*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    color: white;
}

.seccion1{
    background-color: #117A65;
    height: 724px;
}

.logo-container{
    width: 180px;
    height: 80px;
    display: flex;
}

.logo{
    width: 80px;
}

span{
    padding-top: 16px;
    display: block;
    font-size: 35px;
    color: white;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Satisfy', cursive;
}

.mockup{
    width: 594px;
}

.seccion2{
    height: 724px;
    background-color: coral;
}

.main{
    width: 595px;
    height: 1448px;
    margin: 45px auto 40px;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    text-align: center;
    height: 170px;
}

.seccion2 p{
    font-size: 28px;
    text-align: center;
    height: 280px;
}

.btn-registrar{
    text-align: center;    
    margin-bottom: 122px;
}

.btn-registrar a{
    width: 400px;
    height: 86px;
    border-radius: 50px;
    background-color: white;
    font-size: 25px;
    color: blueviolet;
    display: inline-block;
    padding-top: 26px;
    text-decoration: none;
}

.btn-registrar a:hover{
    background-color: blueviolet;
    color: white;
}

.social-container{
    text-align: center;
}

.redes a{
    border: 2px solid white;
    text-decoration: none;
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 28px;
    padding-top: 15px;
}

.redes a:hover{
    border-color: blueviolet;
    color: blueviolet;
}

.redes{
    width: 208px;
    display: inline-flex;
    justify-content: space-between;
}

/*Media Queries*/

@media (min-width:1284px){
    .main{
        margin: 60px auto 0px;
        width: 1284px;
        height: 700px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    /*Seccion1*/

    .seccion1{
        width: 753px;
        height: 700px;
    }

    /*Seccion2*/

    .seccion2{
        height: 700px;
    }

    h1{
        margin-top: 165px;
        height: 133px;
        font-size: 39px;
        text-align: left;
        padding-right: 93px;
    }

    .seccion2 p{
        height: 98px;
        font-size: 18px;
        text-align: left;
        padding-right: 17px;
        margin-top: 25px ;
    }

    .btn-registrar{
        text-align: left;
        margin-top: 25px;
        margin-bottom: 130px;
    }

    .btn-registrar a{
        width: 200px;
        height: 58px;
        font-size: 20px;
        padding-top: 16px;
        text-align: center;
    }

    .social-container{
        text-align: right;
    }

    .redes{
        width: 156px;
    }

    .redes a{
        text-align: center;
        width: 44px;
        font-size: 22px;
        height: 44px;
        padding: 8px;
    }
}