*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.seccion1{
    background-color: #117A65;
}

.logo-container{
    width: 180px;
    height: 80px;
    display: flex;
}

.logo{
    width: 80px;
}

span{
    padding-top: 16px;
    display: block;
    font-size: 35px;
    color: white;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Satisfy', cursive;
}

.mockup{
    width: 594px;
}

.seccion2{
    height: 724px;
    background-color: coral;
}

.main{
    width: 595px;
    height: 1448px;
    margin: 45px auto 40px;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    text-align: center;
    height: 170px;
}

.seccion2 p{
    font-size: 28px;
    text-align: center;
    height: 280px;
}

.btn-registrar{
    text-align: center;    
    margin-bottom: 122px;
}

.btn-registrar a{
    width: 400px;
    height: 86px;
    border-radius: 50px;
    background-color: white;
    font-size: 25px;
    color: blueviolet;
    display: inline-block;
    padding-top: 26px;
    text-decoration: none;
}

.btn-registrar a:hover{
    background-color: blueviolet;
    color: white;
}

.social-container{
    text-align: center;
}

.redes a{
    border: 2px solid white;
    text-decoration: none;
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 28px;
    padding-top: 15px;
}

.redes{
    width: 208px;
    display: inline-flex;
    justify-content: space-between;
}